<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}"/>
    <script type="text/javascript" th:href="@{/js/jquery-3.3.1/jquery-3.3.1.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="starter-template">
        <h1>游客页面 无需登录</h1>
    </div>
</div>
<div class="container">
    <footer>
        <p>
            © <a>OuYangBlog</a> 2017
        </p>
    </footer>
</div>
</body>
</html>